<h3 class="my-5">
    Contact us
</h3>

<div class="row gx-5">
    <img src="~/Images/contact/contact.jpg" class="img-fluid col-5" />
    <div class="col-7">
        <h1>We'd Love</h1>
    </div>
</div>